<!-- Секция "О проекте" -->
<section id="about_project">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">О проекте</h2>

                <h3 class="section-subheading text-muted">И так, коротко о главном</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12 text-center">
                <p>
                    Get win - это принципиально новый взгляд на матричные проекты! Революционная реферальная система в
                    сочетании с щедрыми бонусами позволит Вам, вложив 10$, получить более 50.000$!
                    В системе GetWin Вы зарабатываете деньги, используя 6 столов. Эти столы отличаются по
                    стоимости приобретения и объему получаемого дохода от их закрытия (выше цена стола = выше Ваш
                    итоговый
                    доход). Обратите внимание на картинку.
                </p>
                <img src="img/struct.png" class="img-responsive" alt="">

                <p>
                    Итак, Вас пригласил спонсор, Вы зарегистрировали личный кабинет и приобрели стол. Теперь Вы можете
                    начинать зарабатывать! В нашем проекте Вы будете получать два вида дохода: за закрытие стола и
                    реферальный бонус.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Конец секции "О проекте"-->