<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Сервисы</h2>

                <h3 class="section-subheading text-muted">Это современная платформа онлайн-бизнеса, которая совмещает
                    высокий доход с минимальными вложениями и полной свободой действий.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Бизнес за $10</h4>

                <p class="text-muted">Бизнес, в котором вы легко и без дополнительных затрат выйдете на регулярный доход
                    от 9000$. При помощи уникальной пошаговой системы перехода от стартового кабинета к самому дорогому
                    и прибыльному.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Деньги, которые растут</h4>

                <p class="text-muted">В Getwin вы получаете пассивный доход с каждого кабинета вашей матрицы. Мощная
                    5-уровневая реферальная система увеличивает ваш постоянный доход до $39960. При этом вы не
                    совершаете никаких действий.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Со всех гаджетов и браузеров</h4>

                <p class="text-muted">Выбирайте для работы ваше любимое устройство и браузер. Сайт Getwin имеет
                    адаптивный дизайн и полностью оптимизирован под все современные гаджеты и ПО.</p>
            </div>
        </div>
    </div>
</section>